* {
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Helvetica, Arial, sans-serif;
    color: black;
    font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: #0086b3;
    font-family: Georgia, 'Times New Roman', serif;
}

h1 {
    text-align: center;
}

form {
    width: 80%;
    background-color: #f2f2f2;
    padding: 30px;
    margin: 0 auto;
    border-radius: 20px;
}

input[type="text"], select, textarea {
    width: 45%;
    padding: 10px;
    border-radius: 20px;
}

input[type="radio"], input[type="checkbox"] {
    width: auto;
}

input[type="submit"] {
    width: auto;
    background-color: #0086b3;
    color: #e6f9ff;
}

@media (max-width: 414px) {
    form {
        width: 100%;
    }
    input[type="text"], input[type="radio"] {
        width: 100%;
    }
}

#fnameError {
    color: red;
}
#snameError {
    color: red;
}
#dobError {
    color: red;
}
#birthPlaceError {
    color: red;
}
#addressError {
    color: red;
}
#hphoneError {
    color: red;
}
#pphoneError {
    color: red;
}
#titleError {
    color: red;
}
#postcodeError {
    color: red;
}
#medicareError{
    color: red
}
#medicareIdError{
    color: red
}